* {
    font-family: Cambria, Georgia, 'Times New Roman', serif;
}

header, footer {
    background-color: #829EB9;
    color: white;
    text-align: center;
    padding: 10px;
}

.lewy, .prawy {
    background-color: #B3C6D9;
    height: 400px;
    width: 25%;
    padding-top: 100px;
    float: left;
}

.srodkowy {
    background-color: #E0E9F1;
    height: 400px;
    width: 50%;
    text-align: center;
    padding-top: 100px;
    float: left;
}

table {
    border: solid 1px dimgray;
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

td, th {
    border: solid 1px dimgray;
    border-collapse: collapse; 
}

th:hover {
    background-color: Steelblue;
    color: white;
}

img {
    width: 100%;
    border-radius: 20px;
    image-rendering: pixelated;
}